{% extends "./base.html" %}
{% block content %}
    <h1>Display result</h1>
    <h2>The contents are as follows</h2>
    <p>{{message}}</p>
    <!-- djangoのfor文の書き方は、{% for 変数　in リスト名 % }となる。 -->

    <p style="padding: 0.5em 1em;
    margin: 1em 0;
    background: #f4f4f4;
    border-left: solid 6px black;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);">{{article.content}}, {{article.user_name}}</p>


    <div>
      <a href= "{% url "sampletest:index" %}" class="btn btn-outline-primary">List</a>
      <a href= "{% url "sampletest:edit" article.id %}" class="btn btn-outline-primary">Edit</a>
      <a href= "{% url "sampletest:delete" article.id %}" class="btn btn-outline-danger">Delete</a>
    </div>
{% endblock %}
