<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>paizasampletest</title>
    <style>
      body {
        padding: 10px;
        color:red;
      }
    </style>
  </head>
  <body>
    <h1>hello django　HTML</h1>
    <h2>hello sampletest　HTML</h2>
    <p>{{message}}</p>
    {% for player in players %}
      <p>{{player}}はモンスターと戦った　ここはfor文</p>
    {% endfor %}
    <!-- djangoのfor文の書き方は、{% for 変数　in リスト名 % }となる。 -->
      <p>モンスターを倒した。ただのhtml</p>
    {% for article in articles %}
      <p>{{article.content}},{{article.user_name}},
      　　<a href="{% url "sampletest:detail" article.id %}">Articleの中身の詳細　</a>
          <a href="{% url "sampletest:delete" article.id　%}">削除</a>
      </p>
    {%endfor%}
    <p>
      <a href="{% url "sampletest:create" %}">新規</a>
  </p>
  </body>
</html>
