{% extends "./base.html" %}
{% block content %}
    <h1>hello django　HTML</h1>
    <h2>hello sampletest　HTML</h2>
    <p>{{message}}</p>
    {% for player in players %}
      <p>{{player}}はモンスターと戦った　ここはfor文</p>
    {% endfor %}
    <!-- djangoのfor文の書き方は、{% for 変数　in リスト名 % }となる。 -->
      <p>モンスターを倒した。ただのhtml</p>
    <table class="table table-striped table-hover">
      {% for article in articles %}
        <tr>
          <td>{{article.content}}</td>
          <td>{{article.user_name}}</td>
          <td>
            <a href="{% url "sampletest:detail" article.id %}" class="btn btn-outline-primary">Articleの中身の詳細　</a>
            <a href="{% url "sampletest:delete" article.id　%}" class="btn btn-outline-secondary">削除</a>
          </td>
        </tr>
      {%endfor%}
    </table>
      <p>
        <a href="{% url "sampletest:create" %}" class="btn btn-outline-primary">新規</a>
      </p>


{% endblock %}
